.about {
  margin: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__accordion {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__content {
      margin: 0;
      padding: 20px;
    }
  }
}

@media (max-width: 375px) {
  .about {
    margin: 0 20px 20px 20px;
    gap: 20px;

    &__accordion {
      padding: 0;
      gap: 20px;
    }
  }
}
