.accordion {
  &__header {
    height: 32px;
    background-color: #ff6060;
    border-radius: 10px;
    padding: 10px 20px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__label {
      font-weight: 700;
      color: #fafafa;
    }

    &__button {
      font-weight: 700;
      font-size: 36px;
      color: #fafafa;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition-property: transform;
      transition-duration: 500ms;
      &-open {
        transform: rotate(-180deg);
      }
    }

    &__button:hover {
      cursor: pointer;
    }
  }

  &__content {
    overflow: hidden;
    transition: height 0.5s ease;
    font-size: 18px;
    background-color: #f6f6f6;
    border-radius: 5px;
    margin: 0;
  }
}
