.badge {
  &__title {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: #ff6060;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 10px;
  }
}
