.home {
  margin: 50px 100px;

  &__gallery {
    background-color: #f6f6f6;
    border-radius: 25px;
    margin: 43px 0 50px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px 60px;
      padding: 56px 0 43px;
    }
  }
}

@media (max-width: 375px) {
  .home {
    margin: 0 20px;

    &__gallery {
      background-color: transparent;
      margin: 0;

      &__list {
        margin: 0;
        padding: 20px 0px;
        gap: 20px;
        flex-direction: column;
      }
    }
  }
}
